[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pydantic = "*"
pydantic-settings = "*"
psycopg2 = "*"
drf-yasg = "*"
pillow = "*"
boto3 = "*"
django-storages = "*"
django-log-viewer = "*"
djangorestframework-simplejwt = "*"
django-celery-results = "*"
celery = {extras = ["redis"], version = "*"}
redis = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"
